<!DOCTYPE html>

<html>
	<head>
	</head>
	<body style="padding-left: 10px; font-family: monospace;">
		<div style="width: 100%; max-width: 700px; text-align: justify;">
			<h1>News App</h1>
			<p>Diese App soll es ermöglichen Nachrichten von verschiedenen Zeitungen zu lesen. Außerdem soll es möglich sein die Ergebnisse nach Zeitungsanbieter bzw. Kategorie zu filtern und es soll auch nach bestimmten Artikeln gesucht werden können. <br><br> Hier noch ein paar Fakten über die App:
				<ul>
					<li>Das Backend wurde mit SpringFramework realisiert. Hier werden die Metadaten per Webcrawler erfasst, verarbeitet und gespeichert.</li>
					<li>Im Frontend kommt AngularJs und IonicFramework zum Einsatz.</li>
					<li>Diese App (der Frontend - Teil) wurde eigentlich für Android entwickelt (Installation via AppStore), funktioniert aber auch bis auf ein paar Einschränkungen in Google Chrome.</li>
					<li>Gehostet wird die App auf Amazon EC2.</li>
					<li>Da die Anwendung momentan nicht in Betrieb ist, werden aus Kostengründen keine neuen Daten gesammelt.</li>
					<li>Fertig ist die App noch nicht, es könnte also noch ein paar Probleme geben. Vor allem im Menü sind noch nicht alle Funktionen implementiert.</li>
				</ul>
				
			<br><br>
			
			Erklärung: 
				<ul>
					<li>Oben kann man mithilfe der Pfeile (links, rechts) zwischen den einzelnen Filtern wechseln. Es sind schon ein paar vordefiniert, aber es können auch eigene Filter hinzugefügt werden.</li>
					<li>Links werden die passenden Artikel angezeigt. Gescrollt wird nicht mit dem Mausrad (es ist ja für ein Touchscreen entwickelt), sondern man muss die linke Maustaste gedrückt halten und die Maus rauf bzw. runter bewegen. </li>
					<li>Links oben ist das Menü zu finden.</li>
					<li>Ich hoffe der Rest ist selbsterklärend.</li>
				</ul>
			</p>
		</div>
	</body>
</html>

